@inject HttpClient Http
@using Services.ViewModels.Teams


<EditForm Model="@TeamViewModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputNumber id="Id" @bind-Value="TeamViewModel.Id" />
    <InputText id="name" @bind-Value="TeamViewModel.Name" />
    <InputNumber id="skill" @bind-Value="TeamViewModel.Skill"/>
    
    <button type="submit">Submit</button>
</EditForm>

@code {
    [Parameter]
    public TeamViewModel TeamViewModel { get; set; }

    [Parameter]
    public Action<TeamViewModel> RefreshParent { get; set; }

    private void HandleValidSubmit()
    {
        TeamViewModel.TeamType = TeamType.BaseTeam;

        HttpClientJsonExtensions.PostJsonAsync(Http, "https://localhost:44304/api/team", TeamViewModel);
        Console.WriteLine("OnValidSubmit");

        RefreshParent(TeamViewModel);

        Console.WriteLine("CHILD HERE HERE");
    }
}