
@inject AppState AppState
@inject HttpClient Http
@implements IDisposable
@using Services.ViewModels

@if (EditObject == null || EditObject.Id == 0)
{
    <h3>Create New Team</h3>
}
else
{
    <h3>Modify @EditObject.Name</h3>
}

<EditForm Model="@EditObject" OnValidSubmit="CreateOrUpdateModel">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <button class="btn btn-secondary" @onclick="@(e => CreateNew())">Create New</button>
    <InputText id="name" @bind-Value="EditObject.Name" />
    <InputNumber id="skill" @bind-Value="EditObject.Skill" />

    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

@code {
    [Parameter]
    public TeamViewModel EditObject { get; set; } = new TeamViewModel();

    private async Task<bool> CreateNew()
    {
        EditObject = new TeamViewModel();

        return true;
    }


    private async Task<bool> CreateOrUpdateModel()
    {

        await HttpClientJsonExtensions.PostJsonAsync(Http, $"{AppState.TeamUpdateURL}", EditObject);

        AppState.UpdateModel();

        return true;

    }

    public void ModelSelected()
    {
        EditObject = (TeamViewModel)AppState.EditModel;
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        AppState.ModelSelected += ModelSelected;
    }

    public void Dispose()
    {
        AppState.ModelSelected -= ModelSelected;
    }
}
